
@{
    ViewBag.Title = "Gracias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>¡Gracias por tus comentarios!</h2>

<p>Agredecemos mucho tus comentarios, de ser necesario nos comunicaremos contigo.</p>
