@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("CerrarSesion", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div id="login" class="navbar-right">
            <div id="user" style="background: none; !important"><img class="perfil-foto" style="margin-top: -14px; margin-left: 20px;" src="~/Content/Imagenes/Perfil/dulce-soto.jpg" /></div>
            @Html.ActionLink("¡Hola " + User.Identity.GetUserName() + "!", "Inicio", "Home", routeValues: null, htmlAttributes: new { title = "Manage" })<br/>
            <a href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesión</a>
        </div>
    }
}
else
{
    <div id="login" class="navbar-right">
        <div id="user"><i class="fa fa-user fa-5x" aria-hidden="true"></i></div>
        <a href="/Home/IniciarSesion">Iniciar Sesión</a><br />
        <a href="/Home/PreInscripcion">Pre inscripción al pograma</a>
    </div>
}
